<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Health_Care</title>
</head>


<body style="margin: 0;padding: 0;">
    <div class="container-fluid" style="margin: 0;padding: 0;">
        <nav class="navbar navbar-light bg-dark">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="home.html">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="home.html">Tests</a>
                </li>
            </ul>
        </nav>
        <div class="row">
            <div class="col-6 py-0 px-0">
                <div class="jumbotron " style="height: 550px;">
                    <h1 class="display-4 text-center">Breast Cancer</h1>
                    <br><br>
                    <p>Breast cancer is cancer that develops from breast tissue. Signs of breast cancer may include a lump in the breast, a change in breast shape, dimpling of the skin, fluid coming from the nipple, a newly inverted nipple, or a red or scaly patch of skin.</p>
                    <hr>
                    <h2 class="display-5 text-center">Symptoms</h2>
                    <ul>
                        <li>A breast lump or thickening that feels different from the surrounding tissue
                            Change in the size, shape or appearance of a breast</li>
                        <li>
                            Changes to the skin over the breast, such as dimpling
                            A newly inverted nipple
                        </li>
                        <li>
                            Peeling, scaling, crusting or flaking of the pigmented area of skin surrounding the nipple (areola) or breast skin
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-6 py-4 px-0">
                <h1 class="text-center">
                    Details
                </h1>

                <form action="/result" method="POST" class="py-1 form-inline">

                    <div class="container" style="padding-bottom: 50px;">
                        <div class="form-group py-2 ml-5">
                            <label for="Concavity_mean ">Concavity_mean: </label>
                            <input type="text" id="Concavity_mean" name="Concavity_mean" class="form-control" style="margin-left: 50px;">
                        </div>
                        <div class="form-group py-2 ml-5">
                            <label for="radius_worst">Radius_worst: </label>
                            <input type="text" id="radius_worst" name="radius_worst" class="form-control " style="margin-left: 75px;">
                        </div>

                        <div class="form-group py-2 ml-5">
                            <label for="perimeter_worst">Perimeter_worst: </label>
                            <input type="text" id="perimeter_worst" name="perimeter_worst" class="form-control" style="margin-left: 55px;">
                        </div>

                        <div class="form-group py-2 ml-5">
                            <label for="concavity_worst">Concavity_worst: </label>
                            <input type="text" class="form-control" id="concavity_worst" name="concavity_worst" style="margin-left: 55px;">
                        </div>
                        <div class="form-group py-2 ml-5">

                            <label for="concave points_worst">Concave points_worst: </label>
                            <input type="text" class="form-control" id="concave points_worst" name="concave points_worst" style="margin-left: 17px;">
                        </div>
                        <br><br>

                        <input type="submit" class='btn btn-lg btn-warning btn-block' value="Submit">
                        <input type="button" value="Refresh Webpage." onclick='refreshPage()' class="btn btn-block  btn-success" />
                        <a href="/" class="btn btn-info btn-block">Back</a>
                        <br><br>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        function refreshPage() {
            if (confirm("Are you sure, want to refresh?")) {
                location.reload();
            }
        }

    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



</body>

</html>
